<div class="container">
    <div class="wrapper">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 header">
                        <img src="../../../assets/img/ss.png">
                        <h4 class="my-0 font-weight-normal">Autenticação</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form [formGroup]="form">
                    <ss-alert *ngIf="errorMessage" title="Ops: " [mensagem]="errorMessage" type="erro"></ss-alert>
                    <div class="row">
                        <div class="col-sm">
                            <ss-input (keypress)="buscar()" label="E-mail" type="email" formControlName="email" [required]="true"></ss-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <ss-input label="Senha" type="password" formControlName="senha" [required]="true">
                            </ss-input>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <ss-button class="mr-2" [fill]="false" label="Esqueceu sua senha?" color="verde"></ss-button>
                        <ss-button-action (click)="logar()" [fill]="true" label="Entrar" loadingLabel="Entrando..." [disabled]="!form.valid"
                            color="azul" [isLoading]="isLoading"></ss-button-action>
                    </div>
                </form>
            </div>
        </div>
        <span>© SS Consultório | Todos os direitos Reservados</span>
    </div>
</div>