<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Album</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
            aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <p>Button com preenchimento:</p>
            <div class="row margin-bottom">
                <div class="col" *ngFor="let item of buttonsComPreenchimento">
                    <ss-button [fill]="true" [label]="item.label" [disabled]="item.disabled" [color]="item.color">
                    </ss-button>
                </div>
            </div>

            <p>Button sem preenchimento:</p>
            <div class="row margin-bottom">
                <div class="col" *ngFor="let item of buttonsComPreenchimento">
                    <ss-button [fill]="false" [label]="item.label" [disabled]="item.disabled" [color]="item.color">
                    </ss-button>
                </div>
            </div>
            <pre>
            <code>&lt;ss-button [fill]="boolean" [label]="string" [disabled]="boolean" [color]="string"&gt;&lt;/ss-button&gt;
                color: &#123;
                    azul,
                    cinza,
                    verde,
                    vermelho,
                    amarelo,
                    cyan,
                    light,
                    preto
                &#125;
            </code>
        </pre>

            <div class="row margin-bottom">
                <div class="col" *ngFor="let item of itens">
                    <ss-item [label]="'Item '+item" [bold]="true" [value]="'Value item '+item"></ss-item>
                </div>
            </div>
            <pre>
            <code>&lt;ss-item [label]="string" [bold]="boolean" [value]="string | number"&gt;&lt;/ss-item&gt;
            </code>
        </pre>

            <p>Alerts:</p>
            <ss-alert title="Parabéns" mensagem="Texto de Sucesso" type="sucesso"></ss-alert>
            <ss-alert title="Ops!" mensagem="Texto de Erro" type="erro"></ss-alert>
            <ss-alert title="Info" mensagem="Texto de Info" type="info"></ss-alert>
            <ss-alert title="Atenção" mensagem="Texto de atenção" type="atencao"></ss-alert>

            <pre>
            <code>&lt;ss-alert [title]="string" [mensagem]="string" [type]="string"&gt;&lt;/ss-alert&gt;
                type: &#123;
                    sucesso,
                    erro,
                    info,
                    atencao
                &#125;
            </code>
        </pre>

            <p>Button group:</p>
            <div class="row margin-bottom">
                <div class="col">
                    <ss-button-group [group]="buttonGroup"></ss-button-group>
                </div>
            </div>
            <pre>
            <code>&lt;ss-button-group [group]="array"&gt;&lt;/ss-button-group&gt;
                array.color: &#123;
                    azul,
                    cinza,
                    verde,
                    vermelho,
                    amarelo,
                    cyan,
                    light,
                    preto
                &#125;
            </code>
        </pre>

            <p>Progress normal:</p>
            <div class="row margin-bottom">
                <div class="col-12">
                    <ss-progress value="62" [animated]="false" [decoracao]="false" color="azul"></ss-progress>
                </div>
            </div>

            <p>Progress com decoracao:</p>
            <div class="row margin-bottom">
                <div class="col-12">
                    <ss-progress value="62" [animated]="false" [decoracao]="true" color="azul"></ss-progress>
                </div>
            </div>

            <p>Progress com decoração e animação:</p>
            <div class="row margin-bottom">
                <div class="col-12">
                    <ss-progress value="62" [animated]="true" [decoracao]="true" color="azul"></ss-progress>
                </div>
            </div>
            <pre>
            <code>&lt;ss-progress [value]="string" [animated]="boolean" [decoracao]="boolean" [color]="string"&gt;&lt;/ss-progress&gt;
                color: &#123;
                    azul,
                    verde,
                    vermelho,
                    amarelo,
                    cyan,
                &#125;
            </code>
        </pre>
            <form [formGroup]="form">
                <ss-input label="Nome" formControlName="name"></ss-input>
                {{form.value.name | json}}
            </form>

            <ss-button-action [fill]="true" label="Login" [disabled]="false" color="azul" [isLoading]="isLoading" (click)="alternar()"></ss-button-action>
        </main>
    </div>
</div>