

$font-size: 16px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$border-radius: 4px;

$footer-height: 48px;

/**
 * Colors
 */
$darkblue: #001728;
$navyblue: #192B4F;
$blue: #549ABF;
$blue-hover: #386780;
$lightblue: #EBF0F8;
$darkgrey: #99A2A9;
$lightgrey: #D9DCDF;
$white: white;
$red: #dc3545;

$background-color: $lightgrey;

@mixin for-tablet {
    @media (min-width: 600px) { @content; }
}

@mixin for-desktop {
    @media (min-width: 900px) { @content; }
}

@mixin for-big-desktop {
    @media (min-width: 1800px) { @content; }
}
