$font-size: 16px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$border-radius: 4px;

$footer-height: 48px;

/**
 * Colors
 */
$darkblue: #001728;
$navyblue: #192B4F;
$blue: #DEE0E0;
$blue-hover: #386780;
$lightblue: #C9EBF5;
$darkgrey: #DEE0E0;
$lightgrey: #D9DCDF;
$black: black;
$white: white;
$red: #dc3545;
$warning: #ffc107;
$success: #28a745;

$background-color: $lightgrey;
$border-grey: #ccc;

@mixin for-mobile {
    @media (max-width: 767px) { @content; }
}

@mixin for-tablet {
    @media (min-width: 768px) and (max-width: 1024px) { @content; }
}

@mixin for-desktop {
    @media (min-width: 1025px) and (max-width: 1999px) { @content; }
}

@mixin for-big-desktop {
    @media (min-width: 2000px) { @content; }
}

// primary
$primary: #34495e;

$primary-light-5: lighten($primary, 5%);
$primary-light-10: lighten($primary, 10%);
$primary-light-15: lighten($primary, 15%);
$primary-light-20: lighten($primary, 20%);

$primary-dark-5: darken( $primary, 5% );
$primary-dark-10: darken( $primary, 10% );
$primary-dark-15: darken( $primary, 15% );
$primary-dark-20: darken( $primary, 20% );

$primary-contrast-dark: #fff;
$primary-contrast-light: #000;

// medium
$medium: #d6d6d6;

$medium-light-5: lighten($medium, 5%);
$medium-light-10: lighten($medium, 10%);
$medium-light-15: lighten($medium, 15%);
$medium-light-20: lighten($medium, 20%);

$medium-dark-5: darken( $medium, 5% );
$medium-dark-10: darken( $medium, 10% );
$medium-dark-15: darken( $medium, 15% );
$medium-dark-20: darken( $medium, 20% );

$medium-contrast-dark: #fff;
$medium-contrast-light: #000;

// medium
$danger: #e74c3c;

$danger-light-5: lighten($danger, 5%);
$danger-light-10: lighten($danger, 10%);
$danger-light-15: lighten($danger, 15%);
$danger-light-20: lighten($danger, 20%);

$danger-dark-5: darken( $danger, 5% );
$danger-dark-10: darken( $danger, 10% );
$danger-dark-15: darken( $danger, 15% );
$danger-dark-20: darken( $danger, 20% );

$danger-contrast-dark: #fff;
$danger-contrast-light: #000;
