@import "../../variables.scss";

$width-dia: 13.4285%;
$width-hora: 6%;

.wrapper {
  position: relative;
  width: 100%;
  height: 700px;
  overflow-y: auto;

  > .header {
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: #f8f8f8;
    top: 0;

    > div {
      height: calc(100% - 20px);

      > .eixo-hora {
        width: $width-hora;
        position: relative;
      }

      > .dataSemana {
        width: $width-dia;
        position: relative;

        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -100%);
          font-size: 13px;
        }

        > .dia {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -5%);
          padding: 5px 12.6px;
          border-radius: 100%;
          font-size: 14px;

          &.active {
            background-color: red;
            color: white;
          }
        }
      }
    }

    > .decorator {
      width: 100%;
      height: 20px;
      display: flex;

      > .eixo-hora-decorator {
        width: $width-hora;
        height: 100%;
        border-bottom: 1px solid black;
      }

      > .decorator-cell {
        width: $width-dia;
        height: 100%;
        border-bottom: 1px solid black;
        border-left: 1px solid black;

        &:last-child {
          border-right: 1px solid black;
        }
      }
    }
  }
}
