<div class="painel row">
    <div class="col-sm-1">
        <ss-button-icon [fill]="false" icon="chevron-left" color="cinza" (click)="alterarGrid(false)"></ss-button-icon>
    </div>
    <div class="col-sm-1">
        <ss-button-icon [fill]="false" icon="chevron-right" color="cinza" (click)="alterarGrid(true)"></ss-button-icon>
    </div>
</div>

<div class="wrapper">
    <div class="dias">
        <div class="dia" *ngFor="let num of showDias">
            {{days[num].data}}, {{days[num].day.curto}}
        </div>
    </div>
    <div class="hours" *ngFor="let hora of hours">
        <div class="label">{{hora.hour}}</div>
        <div class="lista" *ngFor="let num of showDias; let i = index" (click)="diaSelecionado(hora.hour, num)" (mouseenter)="mouseEnter($event)" (mouseleave) ="mouseLeave($event)">
        </div>
    </div>
</div>