<div class="header">
    <div class="d-flex">
        <div class="eixo-hora-header"></div>
        <div class="dataSemana" *ngFor="let item of dias; let i = index">
            <span [ngClass]="{'active' : i === 0}">{{item.data.curto.toUpperCase()}}</span>
            <div class="dia" [ngClass]="{'active' : i === 0}">
                {{item.dia}}
            </div>
        </div>
    </div>
    <div class="decorator">
        <div class="eixo-hora-header-decorator"></div>
        <div class="decorator-cell" *ngFor="let dia of obterArray(7); let i = index"></div>
    </div>
</div>
<div class="wrapper">
    <div class="corpo">
        <!-- <div class="grid" [ngStyle]="{'top': 72 * i+'px'}" *ngFor="let hora of obterHoras(); let i = index">
        </div> -->
        <div class="eixo-dia" *ngFor="let dia of dias; let i = index">
            <div class="agendamento" *ngFor="let item of obterAgendamentos(i)" [ngClass]="shoudDisabledItem(item)">
                <div class="card-agendamento" *ngIf="!shoudDisabledItem(item)">
                    <div class="card-agendamento-header">
                        <div class="hora">{{item.hora}}</div>
                        <div class="type">{{item.type}}</div>
                    </div>
                    <div class="card-agendamento-content">
                        <ss-button [fill]="true" label="Marcar" [disabled]="false" color="verde" size="small">
                        </ss-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>