@import "../../variables.scss";

.card-ss {
    width: 100%;
    height: 125px;
    background-color: #fff;
    position: relative;
    margin-top: 7.5px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 2px 15px -15px rgba(0,0,0,0.75);
    border-top: 1px solid $border-grey;
    border-right: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;


    .title {
        position: absolute;
        font-size: 1rem
    }

    .value {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: $black;

        .label {
            color: $darkgrey
        }
    }
}

.border-yellow {
    border-left: 6px solid $warning;
}

.border-red {
    border-left: 6px solid $red;
}

.border-green {
    border-left: 6px solid $success;
}

.red {
    color: $red;
}

.yellow {
    color: $warning;
}

.green {
    color: $success;
}