<div class="p-1 rounded wrapper" [ngClass]="{'bg-white active' : showSearch}">
    <ss-input (blur)="shouldShowSearch(false)" [placeholder]="placeholder" (input)="buscar(data)" [(ngModel)]="data"></ss-input>
    <div class="resultado" *ngIf="showSearch">
        <ng-container *ngIf="!resultado">
            <div class="item-loading" *ngFor="let item of obterArray(3)">
                <ss-autocomplete-loading></ss-autocomplete-loading>
            </div>
        </ng-container>
        <!-- <ng-container *ngIf="resultado">
            <div class="item" *ngFor="let item of resultado">
                <div class="icon"></div>
                <div class="txt"></div>
            </div>
        </ng-container> -->
    </div>
</div>