<div class="wrapper">
    <!-- Sidebar  -->
    <nav class="sidebar" [ngClass]="{'active' : !isOpen}">
        <div class="sidebar-header border-bottom-default">
            <div>
                <img [ngClass]="{'small-img margin-right' : !isOpen}" src="./assets/img/ss_branco.png">
                <span [ngClass]="{'d-none' : !isOpen}">Consultório</span>
            </div>
        </div>
        <ss-collapsible *ngFor="let item of menuItens; let i = index" [displayLabel]="false" [showIcon]="item.children.length > 0 && isOpen" [disableIcon]="item.children.length > 0 && isOpen">
            <div header class="title-list">
                <i [class]="'fa ' + item.icon" [ngClass]="{'font-size-25' : !isOpen}"></i>
                <span class="labelMenu" [ngClass]="{'d-none' : !isOpen}">{{item.label}}</span>
            </div>
            <div body class="item-list" *ngFor="let op of item.children" [ngClass]="{'d-none' : !isOpen}">
                {{op.label}}
            </div>
        </ss-collapsible>
    </nav>
    <div class="content" [ngClass]="{'fix-content' : !isOpen}">
        <div class="header border-bottom-default" [ngClass]="{'fix-header' : !isOpen}">
            <div class="button-wrapper">
                <div class="button" (click)="toggle()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <div class="busca">
                <ss-input placeholder="Busque alguma coisa.." [(ngModel)]="search"></ss-input>
            </div>
            <div class="msgBemVindo">
                Olá, <strong> Arthur</strong>
                <ss-button-icon class="ml-4" icon="sign-out" color="vermelho"></ss-button-icon>
                <!-- <ss-button-action class="ml-4" label="Sair" loadingLabel="Saindo..." [isLoading]="isLoading" (click)="alternar()" color="vermelho"></ss-button-action> -->
            </div>
        </div>
        <div class="busca-responsiva">
            <ss-input placeholder="Busque alguma coisa.." [(ngModel)]="search"></ss-input>
        </div>
        <div class="sub-header border-bottom-default">
            <div class="row">
                <div class="col-sm">
                    <span *ngFor="let item of routes; let i = index" (click)="selectBreadcrumb(item)"> {{item}} <i class="fa fa-chevron-right" *ngIf="i + 1 !== routes.length"></i></span>
                </div>
            </div>
        </div>
        <ng-content></ng-content>
    </div>
</div>