@import '../../variables.scss';


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;

    .sidebar {
        background-color: $blue;
        color: $white;
        transition: all 0.3s;
        position: fixed;
        height: 100vh;
    

    &.active {
       min-width: 80px;
       max-width: 80px;
       text-align: center;
     }

    .button-wrapper {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-bottom: 15px;

       > .button {
           padding: 10px;
           border: 1px solid $white;
           font-size: 30px;
           display: table;
           border-radius: $border-radius;
           cursor: pointer;
       }
     }
     
     .sidebar-header {
       height: 72px;
       background-color: $blue;
       display: flex;
       align-items: center;
       justify-content: center;

       > span {
            white-space: nowrap; 
            overflow: hidden;
            font-size: 25px;
       }
       
       > strong {
         display: none;
         font-size: 1.8em;
       }
     }

    .title-list{
         white-space: nowrap;
         padding: 15px 10px;
         position: relative;
         background-color: #4389af;

         > .iconCollapsible {
             position: absolute;
             top: 50%;
             transform: translateY(-50%);
             right: 10px;
         }
     }

    .title-list:hover {
         background-color: $blue-hover;
         cursor: pointer;
     }

    .item-list {
         padding: 7px 5px 7px 40px;
         background-color: #3485b1;
         cursor: pointer;
         white-space: nowrap;
         overflow: hidden;
     }

     .font-size-25 {
           font-size: 25px;
     }
    }
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


.content {
    overflow-y: auto;
    max-width: calc(100% - 80px);
    width: 100%;
    margin-left: 250px;
    transition: .3s all;

    > .fix-header {
        width: calc(100% - 80px) !important;
    }

    > .header {
        display: inline-flex;
        width: calc(100% - 250px);
        background-color: #c3ddeb;
        position: fixed;
        padding: 10px;
        height: 72px;
        transition: .3s all;
        z-index: 1500;


        > .button-wrapper {
            color: $blue;
            display: table;
            float: left;
   
            > .button {
                padding: 10px;
                font-size: 30px;
                display: table;
                border-radius: $border-radius;
                cursor: pointer;
                transition: 0.2s all;
    
                &:hover {
                    background-color: $blue;
                    color: white;
                }
            }
        }

        > .busca {
            width: calc(100% - 220px);
            padding: 7px 20px 0px 20px;
        }

        > .msgBemVindo {
            padding: 8px 10px 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0; 
            top: 10px;
            z-index: 999
        } 
    }

    > .busca-responsiva {
        margin-top: 72px;
        padding: 10px;
        background-color: $lightgrey;
        display: none;
        height: 58px;

        ss-input {
            z-index: -1;
        }
    }
}

.fix-content {
    width: calc(100% - 80px);
    margin-left: 80px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 488px) {

    .busca {
        display: none;
    }

    .busca-responsiva {
        display: block !important;
    }
}

@include for-mobile {
    .labelMenu {
        display: none;
    }

    .button-wrapper {
        display: none !important;
    }

    .sidebar {
        min-width: 80px;
        max-width: 80px;

        > .sidebar-header {
            
     
            > span {
                 display: none;
            }
            
            > strong {
              display: block !important;
              font-size: 1.8em;
            }
        }
    }

    .title-list {
        text-align: center;
        font-size: 25px;

        > .iconCollapsible {
            display: none;
        }
    }

    .item-list {
        display: none;
    }
    
    .content {
        overflow-y: auto;
        max-width: calc(100% - 80px);
        margin-left: 80px;
        transition: .3s all;

        > .fix-header {
            width: calc(100% - 80px) !important;
        }
    
        > .header {
            display: inline-flex;
            width: calc(100% - 80px);
            background-color: #c3ddeb;
            position: fixed;
            padding: 10px;
            height: 72px;
            transition: .3s all;
        }
    }
}

@include for-tablet {
    .labelMenu {
        display: initial;
    }

    .sidebar {
        min-width: 250px;
        max-width: 250px;
    }

    .title-list {
        align-items: initial;
        justify-content: left;
        font-size: 20px;

        span {
            margin-left: 10px;
        }
    }
}

@include for-desktop {
    .labelMenu {
        display: initial;
    }

    .sidebar {
        min-width: 250px;
        max-width: 250px;
    }

    .title-list {
        align-items: initial;
        justify-content: left;
        font-size: 20px;

        span {
            margin-left: 10px;
        }
    }
}

@include for-big-desktop {
    .labelMenu {
        display: initial;
    }

    .sidebar {
        min-width: 250px;
        max-width: 250px;
    }
    
    .title-list {
        align-items: initial;
        justify-content: left;
        font-size: 20px;

        span {
            margin-left: 10px;
        }
    }
}
