<ss-menu active="Início">
    <div class="container">
        <ss-title header="Início"></ss-title>
        <div class="row">
            <div class="col-sm">
                <ss-card header="Oi!" value="3" type="success"></ss-card>
            </div>
            <div class="col-sm">
                <ss-card header="Oi!" value="3" type="danger"></ss-card>
            </div>
            <div class="col-sm">
                <ss-card header="Oi!" value="3" type="warning"></ss-card>
            </div>
        </div>
        <br>
    </div>
</ss-menu>