<ss-menu>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg">
                <ss-card title="Consultas marcadas" label="Hoje" value="2" type="success"></ss-card>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg">
                <ss-card title="Cancelamentos" label="Hoje" value="2" type="danger"></ss-card>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg">
                <ss-card title="Consultas à confirmar" label="Hoje" value="2" type="warning"></ss-card>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg">
                <ss-card title="Consultas" label="Hoje" value="2" type="success"></ss-card>
            </div>
        </div>
    </div>
</ss-menu>
